.font-size-4x{
  font-size: 4em;
}
.margin-top-80{
  margin-top: 80px;
}

.xb-copyright_container{
  font-size: 12px;
}

.margin-20{
  margin: 20px;
}

.text-gray{
  color: gray;
}
#xb-header_product-user-nav_container{
  font-size: 15px;
}

.font-size-32{
  font-size: 32px;
}
.xb-browse-school-heading.light-blue-bg{
  font-size: 12px;
}
.intro-page-heading{
  font-size: 28px;
}
.xb-taxonomy-banner .intro-page-heading-caption{
  font-size: 15px;
}
#xb-values-whats-coursehero{
  line-height: 45px;
}

#xb-values-whats-coursehero>span.what-coursehero-heading{
  line-height: 45px;
}

.xb-taxonomy-list-container.standardized-testing > li{
  width: 32.3333333%;
  float: left;
  margin: 0px;
  padding: 15px;
}

#xb-header_product-user-nav_container .xb-header_primary-nav_list-item>a{
  height: 48px;
}

.school-dropdown-fieldset >select.input-sm, select.form-group-sm .form-control{
  line-height: 1.5;
}
.course-search-bar a.orange-btn{
  padding-top: 8px;
}

.padding-5{
  padding: 5px;
}
.padding-top-20{
padding-top: 20px;
}

.padding-left-20{
padding-left: 20px;
}
.margin-top-40{
  margin-top: 40px;
}
.padding-20{
  padding:20px;
}
.text-center{
  text-align: center;
}
.tip{
  font: caption;
}
.required{
  color: red;
}

.margin-top-20{
  margin-top: 20px;
}
.thumbnail > div> img{
  width: 100%;
}


