.font-size-4x{
  font-size: 4em;
}
.margin-top-80{
  margin-top: 80px;
}

.ch-copyright_container{
  font-size: 12px;
}

.margin-20{
  margin: 20px;
}

.text-gray{
  color: gray;
}
#ch-header_product-user-nav_container{
  font-size: 15px;
}

.font-size-32{
  font-size: 32px;
}
.ch-browse-school-heading.light-blue-bg{
  font-size: 12px;
}
.intro-page-heading{
  font-size: 28px;
}
.ch-taxonomy-banner .intro-page-heading-caption{
  font-size: 15px;
}
#ch-values-whats-coursehero{
  line-height: 45px;
}

#ch-values-whats-coursehero>span.what-coursehero-heading{
  line-height: 45px;
}

.ch-taxonomy-list-container.standardized-testing > li{
  width: 32.3333333%;
  float: left;
  margin: 0px;
  padding: 15px;
}

