.container, .xb-container {
  *zoom: 1;
  max-width: 1026px;
  _width: 1026px;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: auto;
  margin-right: auto
}
.xb-header_primary-nav_group:after, #xb-header_secondary-nav_search:after, #xb-header_secondary-nav_search form:after {
  content: "";
  display: block;
  clear: both
}
.xb-header_primary-nav_container, .xb-header_secondary-nav_container {
  max-width: 1026px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px
}
.xb-header_primary-nav_container::after, .xb-header_secondary-nav_container::after {
  content: " ";
  display: block;
  clear: both
}
.xb-header_primary-nav_wrapper {
  background: #0aaae7;
  height: 48px;
  position: relative
}
#xb-header_logo {
  display: block;
  float: left;
  padding-top: 12px;
  padding-bottom: 12px
}
#xb-header_logo
img {
  display: block;
  width: 150px;
  height: 24px
}
@media (min-width:768px) {
  #xb-header_logo {
    padding-left: 0px;
    padding-right: 18px
  }
}
@media (min-width:320px) and (max-width:767px) {
  #xb-header_logo {
    float: none
  }
  #xb-header_logo
  img {
    margin-left: auto;
    margin-right: auto
  }
}
#xb-footer:after, .xb-footer-links_container:after, .xb-copyright_container:after {
  content: "";
  display: block;
  clear: both
}
/* 脚部样式*/
.xb-trust-seals_container, .xb-footer-links_container, .xb-copyright_container {
  max-width: 1026px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px
}
#xb-footer {
  clear: both;
  position: relative;
  z-index: 2;
  font-size: 14px;
  line-height: 24px
}
.xb-trust-seals_wrapper {
  background: #f3f3f3;
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 11px;
  padding-bottom: 12px;
  border-color: #e3e3e3
}
.xb-trust-seals_container {
  text-align: center
}
.xb-trust-seals_bbb-icon {
  background-repeat: no-repeat
}
.xb-footer-links_wrapper {
  background: #06476b
}
.xb-copyright_wrapper {
  background: #0aaae7
}
.xb-copyright_container {
  padding-top: 12px;
  padding-bottom: 6px;
  color: #fff
}
.xb-copyright_container
p {
  margin-top: 0px;
  margin-bottom: 6px
}
.xb-copyright_container p:first-child {
  margin-top: 0px
}
@media (min-width:768px) and (max-width:990px) {
  .xb-copyright_container {
    text-align: center
  }
}
@media (min-width:991px) {
  .xb-copyright_info {
    float: left
  }
}
@media (min-width:991px) {
  .xb-copyright_fyi {
    float: right
  }
}


/* 登录页面字体 */
body,h1, a, i, ul, li{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ol, ul {
  list-style: none
}
/* 登录内容背景*/
#access-account-wrapper {
  background: #eff9fe;
  margin-bottom: 0em;
  border-bottom: none
}
@media (min-width:320px) and (max-width:767px) {
  .access-account-aside {
    display: none
  }
}
@media (min-width:768px) and (max-width:990px) {
  .access-account-aside {
    width: 49.09091%;
    float: left;
    margin-right: 1.81818%;
    display: inline
  }
}
@media (min-width:991px) {
  .access-account-aside {
    width: 57.57576%;
    float: left;
    margin-right: 1.81818%;
    display: inline
  }
}
.access-account-aside>h1 {
  font-size: 4em;
  line-height: 1.25em;
  color: #0aaae7;
  line-height: 1.5em;
  font-family: "雅黑";
  font-size: 35px;
}
@media (min-width:768px) and (max-width:990px) {
  .access-account-aside>h1 {
    font-size: 1.75em;
    line-height: 1.42857em
  }
}
@media (min-width:991px) {
  .access-account-aside.forgot-password-messaging-container {
    margin-top: 1em
  }
  .access-account-aside.reset-password-messaging-container {
    padding-bottom: 1em
  }
  .access-account-aside.reset-password-messaging-container .access-account-messaging>li:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0
  }
}
.access-account-messaging {
  margin-right: 2em;
  margin-top: 1.5em;
  border-top: 1px dotted #bbe8f9;
  padding-top: 1.5em
}
.access-account-messaging .access-account-sprite, .access-account-messaging .access-account-access, .access-account-messaging .access-account-share, .access-account-messaging .access-account-study {
  background-image: url('../img/access-account-sb213f93174.png');
  background-repeat: no-repeat
}
.access-account-messaging .access-account-access {
  background-position: 0 0;
  height: 60px;
  width: 48px
}
.access-account-messaging .access-account-share {
  background-position: 0 -60px;
  height: 60px;
  width: 48px
}
.access-account-messaging .access-account-study {
  background-position: 0 -120px;
  height: 60px;
  width: 48px
}
.access-account-messaging .knowledge-drive-highlights-gift-book {
  background-position: 0 0;
  height: 48px;
  width: 48px
}
.access-account-messaging .knowledge-drive-highlights-go-premier {
  background-position: 0 -48px;
  height: 48px;
  width: 48px
}
.access-account-messaging .knowledge-drive-highlights-tag-docs {
  background-position: 0 -96px;
  height: 48px;
  width: 48px
}
.access-account-messaging .knowledge-drive-highlights-upload-docs {
  background-position: 0 -144px;
  height: 48px;
  width: 48px
}
.access-account-messaging>li {
  position: relative;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px dotted #bbe8f9;
  padding-left: 72px
}
.access-account-messaging > li
p {
  margin-bottom: 0em;
  margin-top: 0.25em
}
@media (min-width:991px) {
  .access-account-messaging > li
  p {
    font-size: 1.08333em;
    line-height: 1.61538em
  }
}
.access-account-messaging > li .access-account-sprite, .access-account-messaging > li .access-account-access, .access-account-messaging > li .access-account-share, .access-account-messaging > li .access-account-study, .access-account-messaging > li .knowledge-drive-highlights-sprite, .access-account-messaging > li .knowledge-drive-highlights-gift-book, .access-account-messaging > li .knowledge-drive-highlights-go-premier, .access-account-messaging > li .knowledge-drive-highlights-tag-docs, .access-account-messaging > li .knowledge-drive-highlights-upload-docs {
  position: absolute;
  top: 0px;
  left: 0px
}
.access-account-messaging > li .create-expert-account {
  width: 48px;
  height: 60px;
  position: absolute;
  top: 0px;
  left: 0px
}
.access-account-main {
  background: white;
  border: 1px
  solid #e3e3e3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px
}


/* 登录表单 */
@media (min-width:320px) and (max-width:480px) {
  .access-account-main {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline
  }
}
@media (min-width:480px) and (max-width:767px) {
  .access-account-main {
    width: 83.0303%;
    float: left;
    margin-right: 1.81818%;
    display: inline;
    margin-left: 8.48485%;
    margin-right: 8.48485%
  }
}
@media (min-width:768px) and (max-width:990px) {
  .access-account-main {
    width: 49.09091%;
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline
  }
}
@media (min-width:991px) {
  .access-account-main {
    width: 40.60606%;
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline
  }
}
