@charset "UTF-8";
body, div, h1, h2, h3, h4, h5, h6, p, a, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: #3a3a3a
}
.wrapper, .xb-wrapper {
  float: none;
  width: auto;
  margin-right: auto;
  #margin-left: auto;
  display: block
}
.container, .xb-container {
  *zoom: 1;
  max-width: 1026px;
  _width: 1026px;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: auto;
  margin-right: auto
}
.container:after, .xb-container:after {
  content: "";
  display: table;
  clear: both
}
#xb-content-wrapper {
  margin-top: 0em;
  padding-top: 1.5em;
  padding-bottom: 2em;
  margin-bottom: 0em
}
.xb-banner {
  clear: both;
  margin-top: -1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #bbe8f9
}
h1.page-heading {
  color: #0aaae7;
  font-size: 2.66667em;
  line-height: 1.125em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0.5em;
  margin-bottom: 0em
}
@media (min-width:320px) and (max-width:767px) {
  h1.page-heading {
    font-size: 1.75em;
    line-height: 1.42857em
  }
}
@media (min-width:768px) and (max-width:990px) {
  h1.page-heading {
    font-size: 2.33333em;
    line-height: 1.28571em
  }
}
.intro-page-heading {
  color: #0aaae7;
  font-size: 2.66667em;
  line-height: 1.125em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0.5em;
  margin-bottom: 0em;
  text-align: center
}
p.intro-page-heading-caption {
  color: #3a3a3a;
  font-size: 1.5em;
  line-height: 1.33333em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0.5em;
  margin-bottom: 0em;
  text-align: center
}
#xb-values-whats-coursehero {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline
}
#xb-values-whats-coursehero>span.what-coursehero-heading {
  font-size: 1.33333em;
  line-height: 1.5em;
  font-weight: 600;
  width: 15.15152%;
  float: left;
  margin-right: 1.81818%;
  display: inline;
  background: url(../img/whats-coursehero-arrow.png) no-repeat center right
}
#xb-values-whats-coursehero
ul {
  width: 83.0303%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline
}
#xb-values-whats-coursehero ul
li {
  width: 32.12121%;
  float: left;
  margin-right: 1.81818%;
  display: inline
}
#xb-values-whats-coursehero ul li:nth-child(3n) {
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline
}
#xb-values-whats-coursehero ul li
p {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em
}
#xb-values-whats-coursehero ul li p .whats-coursehero-sprite, #xb-values-whats-coursehero ul li p .whats-coursehero-achieve-goals, #xb-values-whats-coursehero ul li p .whats-coursehero-assets, #xb-values-whats-coursehero ul li p .whats-coursehero-better-grades, #xb-values-whats-coursehero ul li p .whats-coursehero-study-tools {
  background-image: url('../img/whats-coursehero-sa05b4e5645.png');
  background-repeat: no-repeat
}
#xb-values-whats-coursehero ul li p .whats-coursehero-achieve-goals {
  background-position: 0 0;
  height: 45px;
  width: 45px
}
#xb-values-whats-coursehero ul li p .whats-coursehero-assets {
  background-position: 0 -45px;
  height: 45px;
  width: 45px
}
#xb-values-whats-coursehero ul li p .whats-coursehero-better-grades {
  background-position: 0 -90px;
  height: 45px;
  width: 45px
}
#xb-values-whats-coursehero ul li p .whats-coursehero-study-tools {
  background-position: 0 -135px;
  height: 45px;
  width: 45px
}
#xb-values-whats-coursehero ul li p span.whats-coursehero-sprite, #xb-values-whats-coursehero ul li p span.whats-coursehero-achieve-goals, #xb-values-whats-coursehero ul li p span.whats-coursehero-assets, #xb-values-whats-coursehero ul li p span.whats-coursehero-better-grades, #xb-values-whats-coursehero ul li p span.whats-coursehero-study-tools {
  display: block;
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 10px
}
.orange-btn {
  font-size: 21px;
  padding: 0em
  0em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF9D58', endColorstr='#FFFF700B');
  background: -moz-linear-gradient(#ff9d58, #ff700b 70%);
  background: -webkit-linear-gradient(#ff9d58, #ff700b 70%);
  background: linear-gradient(#ff9d58, #ff700b 70%);
  -moz-box-shadow: #ffcaa4 0 1px 0 inset;
  -webkit-box-shadow: #ffcaa4 0 1px 0 inset;
  box-shadow: #ffcaa4 0 1px 0 inset;
  border: 1px
  solid #f16400;
  color: white;
  text-shadow: #ff6c03 0 -1px 0;
  margin-top: 0em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-bottom: 0em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 600;
  text-align: center
}
.orange-btn:hover {
  text-decoration: none;
  color: white
}
.orange-btn:visited {
  text-decoration: none;
  color: white
}
.orange-btn:hover {
  background-color: #f16400;
  background: -moz-linear-gradient(#ff8e3e 3%, #f16400 75%);
  background: -webkit-linear-gradient(#ff8e3e 3%, #f16400 75%);
  background: linear-gradient(#ff8e3e 3%, #f16400 75%)
}
.orange-btn:active {
  -moz-box-shadow: #e15d00 0 1px 2px inset;
  -webkit-box-shadow: #e15d00 0 1px 2px inset;
  box-shadow: #e15d00 0 1px 2px inset
}



#xb-request-tutor {
  width: 100%;
  float: left
}
.school-taxonomy-backgrounds-sprite {
  background-image: url('../img/school-taxonomy-backgrounds-s20d00835f2.png');
  background-repeat: no-repeat
}

.course-image-table {
  text-align: center;
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  min-height: 170px;
  table-layout: fixed
}
.course-image-table
td {
  text-align: center
}
.course-image-table
img {
  max-width: 100%;
  max-height: 154px
}
.course-image-table tr.course-tr {
  height: 154px
}
.course-image-table
p {
  font-size: 0.66667em;
  line-height: 1.5em;
  line-height: 1.5em;
  margin-bottom: 0em;
  padding-left: 1em;
  padding-right: 1em
}
.course-overview {
  width: 77.23577%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline
}
@media (min-width:320px) and (max-width:767px) {
  .course-overview {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline
  }
}
@media (min-width:768px) and (max-width:990px) {
  .course-overview {
    width: 65.85366%;
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline
  }
}
.course-overview-heading {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  margin-top: 0em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-bottom: 0em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 5px;
  background-color: #e6f6fd
}
.course-overview-heading>h5 {
  float: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
@media (min-width:320px) and (max-width:767px) {
  .course-overview-heading>h5 {
    float: none;
    display: block;
    text-align: center
  }
}
.course-overview-heading>a {
  float: right;
  font-size: 1.16667em;
  line-height: 1.28571em;
  padding-top: 0.2em
}
@media (min-width:320px) and (max-width:767px) {
  .course-overview-heading>a {
    text-align: center
  }
}
.course-overview-facts {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  font-size: 1.16667em;
  line-height: 1.28571em
}
.course-overview-facts>li {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-style: dotted;
  border-color: #e3e3e3;
  padding-left: 0.7em;
  padding-right: 0em;
  margin-top: 0em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-bottom: 0em;
  line-height: 1.5em
}
.course-overview-facts>li>label {
  width: 25%;
  float: left
}
@media (min-width:320px) and (max-width:990px) {
  .course-overview-facts>li>label {
    width: 33.33333%
  }
}
.course-overview-facts>li>.course-fact {
  width: 75%;
  float: left
}
@media (min-width:320px) and (max-width:990px) {
  .course-overview-facts>li>.course-fact {
    width: 66.66667%
  }
}
@media (min-width:768px) and (max-width:990px) {
  .course-overview-facts>li>.course-fact {
    width: 62.5%
  }
}
.course-overview-facts>li>.course-fact.prof-textbook {
  width: 68%
}
@media (min-width:320px) and (max-width:990px) {
  .course-overview-facts>li>.course-fact.prof-textbook {
    width: 55%
  }
}
.course-overview-facts>li>.course-fact.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.course-overview-facts>li>.xb-rating-fact {
  float: left
}
.course-overview-facts>li>.xb-rank-label {
  margin-left: 3em;
  margin-right: 0em
}
.course-overview-facts>li>.recent-review-text>a {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  margin-top: 0.5em
}
a.show-more {
  background-color: #e3e3e3;
  float: right;
  margin-top: 5px;
  width: 24px;
  height: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative
}
@media (min-width:320px) and (max-width:767px) {
  a.show-more {
    font-size: 1.16667em;
    line-height: 1.28571em
  }
}
a.show-more>i {
  color: white;
  position: absolute;
  left: 5px;
  top: -6px
}
#course-taxonomy-document-list-container {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease
}
#course-taxonomy-document-list-container>li {
  position: relative;
  background: #fbfbfb;
  border: 1px
  solid #e3e3e3;
  margin-bottom: 1.5em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 2px #f0f0f0;
  -webkit-box-shadow: 1px 1px 2px #f0f0f0;
  box-shadow: 1px 1px 2px #f0f0f0
}
#course-taxonomy-document-list-container>li:hover {
  -moz-transition: all 0.3s ease-in, all 0.3s ease-out;
  -o-transition: all 0.3s ease-in, all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-in, all 0.3s ease-out;
  transition: all 0.3s ease-in, all 0.3s ease-out;
  -moz-box-shadow: 0px 0px 4px #d2f0fb;
  -webkit-box-shadow: 0px 0px 4px #d2f0fb;
  box-shadow: 0px 0px 4px #d2f0fb;
  border-color: #c9edfa;
  background: #f7fcfe
}
@media (min-width:320px) and (max-width:990px) {
  #course-taxonomy-document-list-container.grid-view > li .xb-product-details-tooltip {
    display: none
  }
}
@media (min-width:991px) {
  #course-taxonomy-document-list-container.grid-view > li .xb-product-details-tooltip {
    position: absolute;
    z-index: 9999;
    width: 300px;
    display: none;
    font-size: 12px;
    color: #3a3a3a;
    line-height: 18px;
    text-shadow: none;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background: white;
    border: 2px
    solid #bbe8f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: 400;
    right: auto;
    left: 100%;
    margin-left: 12px;
    -moz-box-shadow: 1px 1px 2px #e3e3e3;
    -webkit-box-shadow: 1px 1px 2px #e3e3e3;
    box-shadow: 1px 1px 2px #e3e3e3;
    word-wrap: break-word;
    top: 0px
  }
  #course-taxonomy-document-list-container.grid-view > li .xb-product-details-tooltip:after, #course-taxonomy-document-list-container.grid-view > li .xb-product-details-tooltip:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    right: 100%
  }
  #course-taxonomy-document-list-container.grid-view > li .xb-product-details-tooltip:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: white;
    border-width: 8px;
    top: 50%;
    margin-top: -8px
  }
  #course-taxonomy-document-list-container.grid-view > li .xb-product-details-tooltip:before {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #bbe8f9;
    border-width: 11px;
    top: 50%;
    margin-top: -11px
  }
  #course-taxonomy-document-list-container.grid-view > li .xb-product-details-tooltip h1, #course-taxonomy-document-list-container.grid-view > li .xb-product-details-tooltip h2, #course-taxonomy-document-list-container.grid-view > li .xb-product-details-tooltip h3, #course-taxonomy-document-list-container.grid-view > li .xb-product-details-tooltip h4, #course-taxonomy-document-list-container.grid-view > li .xb-product-details-tooltip h5, #course-taxonomy-document-list-container.grid-view > li .xb-product-details-tooltip
  h6 {
    margin-bottom: 0.5em
  }
  #course-taxonomy-document-list-container.grid-view > li .xb-product-details-tooltip:after, #course-taxonomy-document-list-container.grid-view > li .xb-product-details-tooltip:before {
    top: 20px
  }
}
#course-taxonomy-document-list-container.grid-view > li .xb-product-coa {
  padding-bottom: 0.5em
}
#course-taxonomy-document-list-container.grid-view > li .xb-product-coa *[class*="-btn"] {
  display: block;
  font-size: 1em;
  line-height: 1.5em
}
@media (min-width:320px) and (max-width:480px) {
  #course-taxonomy-document-list-container.grid-view>li {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline
  }
}
@media (min-width:480px) and (max-width:767px) {
  #course-taxonomy-document-list-container.grid-view>li {
    width: 48.62385%;
    float: left;
    margin-right: 2.75229%;
    display: inline
  }
  #course-taxonomy-document-list-container.grid-view>li:nth-child(2n) {
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline
  }
}
@media (min-width:768px) and (max-width:990px) {
  #course-taxonomy-document-list-container.grid-view>li {
    width: 32.12121%;
    float: left;
    margin-right: 1.81818%;
    display: inline
  }
  #course-taxonomy-document-list-container.grid-view>li:nth-child(3n) {
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline
  }
}
@media (min-width:991px) {
  #course-taxonomy-document-list-container.grid-view>li {
    width: 23.63636%;
    float: left;
    margin-right: 1.81818%;
    display: inline
  }
  #course-taxonomy-document-list-container.grid-view>li:nth-child(4n) {
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline
  }
  #course-taxonomy-document-list-container.grid-view > li:nth-child(4n) .xb-product-details-tooltip {
    position: absolute;
    z-index: 9999;
    width: 300px;
    display: none;
    font-size: 12px;
    color: #3a3a3a;
    line-height: 18px;
    text-shadow: none;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background: white;
    border: 2px
    solid #bbe8f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: 400;
    left: auto;
    right: 100%;
    margin-right: 12px;
    -moz-box-shadow: -1px 1px 2px #e3e3e3;
    -webkit-box-shadow: -1px 1px 2px #e3e3e3;
    box-shadow: -1px 1px 2px #e3e3e3
  }
  #course-taxonomy-document-list-container.grid-view > li:nth-child(4n) .xb-product-details-tooltip:after, #course-taxonomy-document-list-container.grid-view > li:nth-child(4n) .xb-product-details-tooltip:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    left: 100%
  }
  #course-taxonomy-document-list-container.grid-view > li:nth-child(4n) .xb-product-details-tooltip:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: white;
    border-width: 8px;
    top: 50%;
    margin-top: -8px
  }
  #course-taxonomy-document-list-container.grid-view > li:nth-child(4n) .xb-product-details-tooltip:before {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #bbe8f9;
    border-width: 11px;
    top: 50%;
    margin-top: -11px
  }
  #course-taxonomy-document-list-container.grid-view > li:nth-child(4n) .xb-product-details-tooltip:after, #course-taxonomy-document-list-container.grid-view > li:nth-child(4n) .xb-product-details-tooltip:before {
    top: 20px
  }
}
@media (min-width:991px) {
  #course-taxonomy-document-list-container.grid-view > li:hover .xb-product-details-tooltip {
    display: block
  }
}
#course-taxonomy-document-list-container.list-view>li {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline
}
#course-taxonomy-document-list-container .xb-product-thumbnail-link {
  height: 224px
}
#course-taxonomy-document-list-container .xb-product-details-title
h6 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}
#course-taxonomy-document-list-container .xb-product-details {
  padding-left: 0.5em;
  padding-right: 0.5em
}
#course-taxonomy-document-list-container .xb-product-details>li.xb-product-coa {
  padding-bottom: 0em
}
#course-resource-first-level-filter>li {
  width: 33.33333%
}
img.small-shadow {
  margin-top: 1em;
  width: 60%;
  height: 13px
}
.document-number {
  font-size: 0.91667em;
  line-height: 2.18182em;
  color: #878787
}
@media (min-width:320px) and (max-width:767px) {
  .xb-taxonomy-banner .intro-page-heading {
    font-size: 1.75em;
    line-height: 1.42857em
  }
}
@media (min-width:768px) and (max-width:990px) {
  .xb-taxonomy-banner .intro-page-heading {
    font-size: 2.33333em;
    line-height: 1.28571em
  }
}
@media (min-width:320px) and (max-width:767px) {
  .xb-taxonomy-banner .intro-page-heading-caption {
    font-size: 1.16667em;
    line-height: 1.28571em
  }
}
@media (min-width:768px) and (max-width:990px) {
  .xb-taxonomy-banner .intro-page-heading-caption {
    font-size: 1.33333em;
    line-height: 1.5em
  }
}
.xb-taxonomy-banner #xb-values-whats-coursehero {
  padding-top: 1.5em;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  border-color: #bbe8f9
}
@media (min-width:320px) and (max-width:990px) {
  .xb-taxonomy-banner #xb-values-whats-coursehero {
    display: none
  }
}
.taxonomy-empty-content-container {
  margin-top: 1em;
  margin-bottom: 1.5em
}
.taxonomy-empty-content-container>h4 {
  line-height: 1.5em
}
@media (min-width:768px) {
  .taxonomy-empty-content-container>h4 {
    padding-left: 3em;
    padding-right: 3em
  }
}
.taxonomy-empty-content-container>p {
  line-height: 1.5em
}
@media (min-width:768px) {
  .taxonomy-empty-content-container>p {
    padding-left: 5em;
    padding-right: 5em
  }
}
form fieldset input[type=text] {
  min-width: 0px;
  font-size: 1.08333em;
  line-height: 1.38462em
}
.course-search-bar {
  border: 1px
  solid #e3e3e3;
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  margin-bottom: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding: 1em;
  position: relative;
  -moz-box-shadow: 0px 1px 3px #bbe8f9;
  -webkit-box-shadow: 0px 1px 3px #bbe8f9;
  box-shadow: 0px 1px 3px #bbe8f9
}
@media (min-width:320px) and (max-width:990px) {
  .course-search-bar {
    margin-top: 1em;
    margin-bottom: 0.5em
  }
}
.course-search-bar a.orange-btn {
  color: white;
  width: 14%;
  height: 36px
}
@media (min-width:320px) and (max-width:767px) {
  .course-search-bar a.orange-btn {
    width: 100%;
    margin-top: 1em
  }
}
@media (min-width:768px) and (max-width:990px) {
  .course-search-bar a.orange-btn {
    width: 12.5%
  }
}
.school-input-fieldset {
  width: 50%;
  float: left;
  margin-left: 0em;
  margin-right: 1em;
  position: relative
}
@media (min-width:320px) and (max-width:767px) {
  .school-input-fieldset {
    width: 100%
  }
}
.school-input-fieldset input[type=text] {
  width: 100%;
  float: left;
  margin-top: 0em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0em;
  font-size: 1.16667em;
  line-height: 1.28571em;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px
  solid #e3e3e3
}
.school-input-fieldset>a {
  position: absolute;
  right: 12px;
  top: 8px
}
.school-input-fieldset > a i.clear-school {
  color: #bababa
}
.course-search-fieldset {
  width: 16%;
  float: left;
  margin-left: 0em;
  margin-right: 1em
}
@media (min-width:320px) and (max-width:767px) {
  .course-search-fieldset {
    width: 100%;
    margin-top: 1em
  }
}
.course-search-fieldset>.select2-container {
  width: 100%;
  font-size: 1.16667em;
  line-height: 1.28571em;
  line-height: 1.5em
}
.course-search-fieldset>.select2-container>.select2-default {
  color: #3a3a3a !important
}
.course-search-fieldset>.select2-container>.select2-choice {
  border: 1px
  solid #e3e3e3;
  height: 36px
}
.course-search-fieldset>.select2-container>.select2-choice>.select2-chosen {
  line-height: 2.6em;
  overflow: hidden;
  text-overflow: ellipsis
}
@media (min-width:768px) and (max-width:990px) {
  .course-search-fieldset>.select2-container>.select2-choice>.select2-chosen {
    max-width: 76px
  }
}
.course-search-fieldset>.select2-container>.select2-choice>.select2-arrow {
  margin-top: 3px
}
.course-search-fieldset .select2-container-disabled>.select2-default {
  color: #bababa !important
}
.search-tooltip-link {
  top: -9px;
  left: -4px;
  position: absolute
}
.search-tooltip-link>i {
  font-size: 1.5em;
  line-height: 1.33333em;
  color: #0aaae7
}
.search-tooltip-link:hover>.whats-this-search {
  display: block
}
.whats-this-search {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  text-align: left;
  position: absolute;
  z-index: 9999;
  width: 260px;
  display: none;
  font-size: 12px;
  color: #3a3a3a;
  line-height: 18px;
  text-shadow: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  background: white;
  border: 2px
  solid #bbe8f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: 400;
  left: -130px;
  bottom: 100%;
  margin-bottom: 12px;
  -moz-box-shadow: 1px 1px 2px #e3e3e3;
  -webkit-box-shadow: 1px 1px 2px #e3e3e3;
  box-shadow: 1px 1px 2px #e3e3e3;
  margin-left: 50%;
  overflow: visible;
  z-index: 9999;
  height: 120px;
  top: -126px;
  right: 10px;
  font-size: 1.16667em;
  line-height: 1.5em
}
@media (min-width:320px) and (max-width:990px) {
  .whats-this-search {
    position: absolute;
    z-index: 9999;
    width: 280px;
    display: none;
    font-size: 12px;
    color: #3a3a3a;
    line-height: 18px;
    text-shadow: none;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background: white;
    border: 2px
    solid #bbe8f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: 400;
    left: -140px;
    bottom: 100%;
    margin-bottom: 12px;
    -moz-box-shadow: 1px 1px 2px #e3e3e3;
    -webkit-box-shadow: 1px 1px 2px #e3e3e3;
    box-shadow: 1px 1px 2px #e3e3e3;
    margin-left: 50%;
    top: -86px;
    left: 0px;
    height: 80px
  }
  .whats-this-search:after, .whats-this-search:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    top: 100%
  }
  .whats-this-search:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: white;
    border-width: 8px;
    left: 50%;
    margin-left: -8px
  }
  .whats-this-search:before {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #bbe8f9;
    border-width: 11px;
    left: 50%;
    margin-left: -11px
  }
  .whats-this-search:before, .whats-this-search:after {
    display: none
  }
}
.whats-this-search:after, .whats-this-search:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  top: 100%
}
.whats-this-search:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: white;
  border-width: 8px;
  left: 50%;
  margin-left: -8px
}
.whats-this-search:before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #bbe8f9;
  border-width: 11px;
  left: 50%;
  margin-left: -11px
}
.whats-this-search:before, .whats-this-search:after {
  top: 116px
}
.whats-this-search>ul>li>i {
  padding-left: 0em;
  padding-right: 0.3em
}
.popular-schools {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1em
}
.popular-schools
h4 {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  margin-bottom: 0.5em
}
@media (min-width:320px) and (max-width:767px) {
  .popular-schools
  h4 {
    text-align: center;
    margin-bottom: 1em
  }
}
.featued-schools {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline
}
@media (min-width:320px) and (max-width:767px) {
  .featued-schools>li {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline;
    border-top: 1px dotted #e3e3e3;
    padding-top: 0.5em
  }
  .featued-schools>li:last-child {
    border-bottom: 1px dotted #e3e3e3
  }
}
@media (min-width:768px) {
  .featued-schools>li {
    padding-left: 1em;
    padding-right: 1em;
    width: 33.33333%;
    display: inline-block;
    float: left;
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color: #e3e3e3;
    text-align: center
  }
  .featued-schools>li:last-child {
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline;
    border-right: none
  }
  .featued-schools>li>h5 {
    margin-bottom: 0.25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%
  }
}
.featued-schools > li .xb-taxonomy-list-resource-summary
a {
  font-size: 0.91667em;
  line-height: 2.18182em;
  color: #878787
}
.featued-schools > li .xb-taxonomy-list-resource-summary a:first-child {
  padding-left: 0
}
.featued-schools > li .xb-taxonomy-list-resource-summary a:last-child {
  border: none;
  padding-right: none
}
.featued-schools > li .xb-taxonomy-list-resource-summary a:hover {
  text-decoration: underline
}
.school-image-wrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  height: 150px
}
@media (min-width:320px) and (max-width:767px) {
  .school-image-wrapper {
    display: none
  }
}
.school-image-wrapper>img {
  height: 150px
}
.school-browse-image-table {
  text-align: center;
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  min-height: 150px
}
@media (min-width:320px) and (max-width:767px) {
  .school-browse-image-table {
    display: none
  }
}
.school-browse-image-table
td {
  text-align: center
}
.school-browse-image-table
img {
  max-width: 100%;
  max-height: 150px
}
.placeholder-school-image {
  background: url("/img/School_background.png");
  width: 150px;
  height: 150px;
  text-align: center;
  display: table;
  table-layout: fixed;
  margin: 0
  auto;
  padding-bottom: 0.5em
}
@media (min-width:320px) and (max-width:767px) {
  .placeholder-school-image {
    display: none
  }
}
.placeholder-school-image>span {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-size: 1.75em;
  line-height: 1.42857em;
  color: #0aaae7
}
@media (min-width:320px) and (max-width:767px) {
  .not-endorsed {
    display: none
  }
}
.dept-course-verified-key {
  float: right;
  font-size: 1.08333em;
  line-height: 1.38462em
}
.xb-browse-school-wrapper {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 2em
}
.xb-browse-dept-wrapper {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  margin-top: 0.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 2em
}
.xb-browse-school-heading {
  border: 1px
  solid #bbe8f9;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  margin-top: 0em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  margin-bottom: 0em;
  padding-left: 0.5em;
  padding-right: 0.5em
}
.xb-browse-school-heading
h4 {
  width: 49.09091%;
  float: left;
  margin-right: 1.81818%;
  display: inline;
  margin-top: 0em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-bottom: 0em;
  padding-left: 0.3em;
  padding-right: 0em
}
@media (min-width:320px) and (max-width:767px) {
  .xb-browse-school-heading
  h4 {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline;
    font-size: 1.33333em;
    line-height: 1.5em;
    margin-top: 0.25em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0.5em
  }
}
@media (min-width:768px) and (max-width:990px) {
  .xb-browse-school-heading
  h4 {
    width: 32.12121%;
    float: left;
    margin-right: 1.81818%;
    display: inline;
    font-size: 1.33333em;
    line-height: 1.5em
  }
}
.xb-browse-school-heading h4.school-widget-intro {
  float: left;
  width: auto;
  font-size: 16px;
}
.reset-filters {
  float: right;
  font-size: 1.16667em;
  line-height: 1.5em;
  padding-left: 0em;
  padding-right: 0.5em;

}
@media (min-width:320px) and (max-width:480px) {
  .reset-filters {
    font-size: 1.08333em;
    line-height: 1.38462em;
    margin-top: 0.25em
  }
}
.reset-filters>i {
  font-size: 0.75em;
  line-height: 2em;
  padding-left: 0em;
  padding-right: 0.7em;
  vertical-align: text-bottom
}
.browse-listing-number {
  color: #a0a0a0;
  font-weight: 400
}
.dept-search-fieldset {
  position: relative
}
.dept-search-fieldset>input[type=text] {
  font-size: 1.16667em;
  line-height: 1.28571em
}
.dept-search-fieldset
i {
  position: absolute;
  top: 6px;
  right: 10px
}
.browse-search-fieldset {
  float: left;
  width: 49.3%;
  position: relative
}
@media (min-width:320px) and (max-width:767px) {
  .browse-search-fieldset {
    width: 100%;
    margin-bottom: 0.25em;
    margin-top: 0.25em
  }
}
.browse-search-fieldset:first-child {
  margin-left: 0em;
  margin-right: 0.5em
}
.browse-search-fieldset>i {
  position: absolute;
  top: 6px;
  right: 10px
}
.browse-search-fieldset>input[type=text] {
  font-size: 1.16667em;
  line-height: 1.28571em
}
.browse-search-fieldset>.select2-container {
  width: 100%;
  font-size: 1.16667em;
  line-height: 1.28571em;
  line-height: 1.5em
}
.browse-search-fieldset>.select2-container>.select2-choice {
  height: 33px
}
.browse-search-fieldset>.select2-container>.select2-choice>.select2-chosen {
  line-height: 2.4em
}
.browse-search-fieldset>.select2-container>.select2-choice>.select2-arrow {
  margin-top: 2px
}
.browse-input {
  width: 100%;
  height: 33px;
  margin-top: 0em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px
}
.school-search-fieldset {
  width: 24.5%;
  margin-right: .4em;
  float: left;
  position: relative
}
@media (min-width:320px) and (max-width:990px) {
  .school-search-fieldset {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline
  }
}
.school-search-fieldset>i {
  position: absolute;
  top: 6px;
  right: 10px
}
.school-dropdown-fieldset {
  width: 24.62%;
  margin-right: .4em;
  float: left
}
@media (min-width:320px) and (max-width:767px) {
  .school-dropdown-fieldset {
    width: 100%;
    margin-top: 0.3em
  }
}
@media (min-width:768px) and (max-width:990px) {
  .school-dropdown-fieldset {
    width: 32.88%;
    margin-top: 0.3em
  }
}
.school-dropdown-fieldset:last-child {
  margin-right: 0em
}
.school-dropdown-fieldset>.select2-container {
  width: 100%;
  font-size: 1.16667em;
  line-height: 1.28571em;
  line-height: 1.5em
}
.school-dropdown-fieldset>.select2-container>.select2-choice {
  height: 33px
}
.school-dropdown-fieldset>.select2-container>.select2-choice>.select2-chosen {
  line-height: 2.4em
}
.school-dropdown-fieldset>.select2-container>.select2-choice>.select2-arrow {
  margin-top: 2px
}
.school-dropdown-fieldset .select2-container-disabled>.select2-choice {
  color: #bababa !important
}
.pop-searches-wrapper {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  margin-top: 0em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0em;
  padding-left: 0.8em;
  padding-right: 0em;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-style: solid;
  border-color: #bbe8f9;
  font-size: 1.16667em;
  line-height: 1.5em;
  background-color: #f7fcfe
}
@media (min-width:320px) and (max-width:767px) {
  .pop-searches-wrapper {
    display: none
  }
}
.pop-searches-wrapper
p {
  display: inline
}
.pop-searches-wrapper p
a {
  cursor: pointer
}
.school-browse-body {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-style: solid;
  border-color: #bbe8f9;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px
}
@media (min-width:320px) and (max-width:767px) {
  .school-browse-body {
    border: none
  }
}
.school-browse-body.no-pagination {
  padding-left: 1em
}
.verified-course-seal {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  margin-right: 6px
}
.loading-list {
  float: right;
  width: 96%;
  text-align: center;
  margin-top: 1em
}
.no-listings {
  float: right;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: 1.16667em;
  line-height: 1.71429em
}
@media (min-width:320px) and (max-width:767px) {
  .no-listings {
    width: 100%
  }
}
@media (min-width:768px) {
  .no-listings {
    width: 95%
  }
}
.no-listings.course {
  width: 100%
}
.no-listings>p {
  margin-bottom: 1em
}
@media (min-width:320px) and (max-width:767px) {
  .no-listings>p {
    font-size: 1.08333em;
    line-height: 1.38462em
  }
}
.browse-all-countries {
  font-size: 1.16667em;
  line-height: 1.28571em;
  float: right
}
@media (min-width:320px) and (max-width:767px) {
  .browse-all-countries {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center
  }
}
.back-to-previous {
  font-size: 1.16667em;
  line-height: 1.28571em;
  float: left
}
@media (min-width:320px) and (max-width:767px) {
  .back-to-previous {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center
  }
}
