@charset "UTF-8";
body, div, h1, h2, h3, h4, h5, h6, p, a, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline
}
.wrapper, .ch-wrapper {
  float: none;
  width: auto;
  margin-right: auto;
  #margin-left: auto;
  display: block
}
.container, .ch-container {
  *zoom: 1;
  max-width: 1026px;
  _width: 1026px;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: auto;
  margin-right: auto
}
.container:after, .ch-container:after {
  content: "";
  display: table;
  clear: both
}
#ch-content-wrapper {
  margin-top: 0em;
  padding-top: 1.5em;
  padding-bottom: 2em;
  margin-bottom: 0em
}
.ch-banner {
  clear: both;
  margin-top: -1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #bbe8f9
}
.hidden {
  display: none
}


@media (min-width:320px) and (max-width:767px) {
  h1.page-heading {
    font-size: 1.75em;
    line-height: 1.42857em
  }
}
@media (min-width:768px) and (max-width:990px) {
  h1.page-heading {
    font-size: 2.33333em;
    line-height: 1.28571em
  }
}
.intro-page-heading {
  color: #0aaae7;
  font-size: 2.66667em;
  line-height: 1.125em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0.5em;
  margin-bottom: 0em;
  text-align: center
}
p.intro-page-heading-caption {
  color: #3a3a3a;
  font-size: 1.5em;
  line-height: 1.33333em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0.5em;
  margin-bottom: 0em;
  text-align: center
}
#ch-values-whats-coursehero {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline
}
#ch-values-whats-coursehero>span.what-coursehero-heading {
  font-size: 1.33333em;
  line-height: 1.5em;
  font-weight: 600;
  width: 15.15152%;
  float: left;
  margin-right: 1.81818%;
  display: inline;
  background: url('../img/whats-coursehero-arrow.png') no-repeat center right
}
#ch-values-whats-coursehero
ul {
  width: 83.0303%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline
}
#ch-values-whats-coursehero ul
li {
  width: 32.12121%;
  float: left;
  margin-right: 1.81818%;
  display: inline
}
#ch-values-whats-coursehero ul li:nth-child(3n) {
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline
}
#ch-values-whats-coursehero ul li
p {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em
}
#ch-values-whats-coursehero ul li p .whats-coursehero-sprite, #ch-values-whats-coursehero ul li p .whats-coursehero-achieve-goals, #ch-values-whats-coursehero ul li p .whats-coursehero-assets, #ch-values-whats-coursehero ul li p .whats-coursehero-better-grades, #ch-values-whats-coursehero ul li p .whats-coursehero-study-tools {
  background-image: url('../img/whats-coursehero-sa05b4e5645.png');
  background-repeat: no-repeat
}
#ch-values-whats-coursehero ul li p .whats-coursehero-achieve-goals {
  background-position: 0 0;
  height: 45px;
  width: 45px
}
#ch-values-whats-coursehero ul li p .whats-coursehero-assets {
  background-position: 0 -45px;
  height: 45px;
  width: 45px
}
#ch-values-whats-coursehero ul li p .whats-coursehero-better-grades {
  background-position: 0 -90px;
  height: 45px;
  width: 45px
}
#ch-values-whats-coursehero ul li p .whats-coursehero-study-tools {
  background-position: 0 -135px;
  height: 45px;
  width: 45px
}
#ch-values-whats-coursehero ul li p span.whats-coursehero-sprite, #ch-values-whats-coursehero ul li p span.whats-coursehero-achieve-goals, #ch-values-whats-coursehero ul li p span.whats-coursehero-assets, #ch-values-whats-coursehero ul li p span.whats-coursehero-better-grades, #ch-values-whats-coursehero ul li p span.whats-coursehero-study-tools {
  display: block;
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 10px
}



@media (min-width:320px) and (max-width:767px) {
  .ch-taxonomy-banner .intro-page-heading {
    font-size: 1.75em;
    line-height: 1.42857em
  }
}
@media (min-width:768px) and (max-width:990px) {
  .ch-taxonomy-banner .intro-page-heading {
    font-size: 2.33333em;
    line-height: 1.28571em
  }
}
@media (min-width:320px) and (max-width:990px) {
  .ch-taxonomy-banner .intro-page-heading-caption {
    padding-bottom: 0em
  }
}
@media (min-width:320px) and (max-width:767px) {
  .ch-taxonomy-banner .intro-page-heading-caption {
    font-size: 1.16667em;
    line-height: 1.28571em
  }
}
@media (min-width:768px) and (max-width:990px) {
  .ch-taxonomy-banner .intro-page-heading-caption {
    font-size: 1.33333em;
    line-height: 1.5em
  }
}
@media (min-width:991px) {
  .ch-taxonomy-banner .intro-page-heading-caption {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #bbe8f9
  }
}
@media (min-width:320px) and (max-width:990px) {
  .ch-taxonomy-banner #ch-values-whats-coursehero {
    display: none
  }
}
.taxonomy-section-heading {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0.5em;
  margin-bottom: 0.75em;
  border-bottom: 1px solid #e3e3e3
}
.taxonomy-section-heading
i {
  font-size: 1.2em;
  margin-right: 3px
}
.taxonomy-section-heading
a {
  float: right
}
#browse-subjects {
  margin-bottom: 1.5em
}
@media (min-width:320px) and (max-width:767px) {
  .taxonomy-section-heading .ch-taxonomy-list-resource-summary {
    display: none
  }
}
@media (min-width:768px) {
  .taxonomy-section-heading .ch-taxonomy-list-resource-summary {
    float: right;
    font-size: 0.66667em;
    line-height: 1.5em;
    font-weight: 400;
    margin-top: 0.5em
  }
  .taxonomy-section-heading .ch-taxonomy-list-resource-summary>a {
    margin-right: 1em;
    border-right: 1px solid #e3e3e3;
    padding-right: 1em
  }
  .taxonomy-section-heading .ch-taxonomy-list-resource-summary>a:first-child {
    padding: 0;
    margin: 0;
    border: none
  }
}
ul.taxonomy-subjects-list-container {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  margin-bottom: 2em
}
@media (min-width:320px) and (max-width:767px) {
  ul.taxonomy-subjects-list-container>li {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline;
    margin-bottom: 0.5em
  }
}
@media (min-width:768px) and (max-width:990px) {
  ul.taxonomy-subjects-list-container>li {
    width: 49.09091%;
    float: left;
    margin-right: 1.81818%;
    display: inline;
    margin-bottom: 0.5em
  }
  ul.taxonomy-subjects-list-container>li:nth-child(2n) {
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline
  }
}
@media (min-width:991px) {
  ul.taxonomy-subjects-list-container>li {
    width: 10.09174%;
    float: left;
    margin-right: 2.75229%;
    display: inline
  }
  ul.taxonomy-subjects-list-container>li:last-child {
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline
  }
}
ul.taxonomy-subjects-list-container>li>a {
  font-size: 1.16667em;
  line-height: 1.5em
}
@media (min-width:768px) and (max-width:990px) {
  ul.taxonomy-subjects-list-container>li>a {
    font-size: 1.33333em;
    line-height: 1.5em
  }
}
@media (min-width:991px) {
  ul.taxonomy-subjects-list-container>li>a {
    display: block;
    text-align: center
  }
  ul.taxonomy-subjects-list-container > li > a i.icon-right-open {
    display: none
  }
}
ul.taxonomy-subjects-list-container > li .taxonomy-subjects-sprite, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-business, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-engineer, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-foreign, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-history, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-humanities, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-math, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-science, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-social {
  background-image: url('../img/taxonomy-subjects-s676f448d3f.png');
  background-repeat: no-repeat
}
ul.taxonomy-subjects-list-container > li .taxonomy-subjects-business {
  background-position: 0 0;
  height: 78px;
  width: 82px
}
ul.taxonomy-subjects-list-container > li .taxonomy-subjects-engineer {
  background-position: 0 -78px;
  height: 78px;
  width: 82px
}
ul.taxonomy-subjects-list-container > li .taxonomy-subjects-foreign {
  background-position: 0 -156px;
  height: 78px;
  width: 82px
}
ul.taxonomy-subjects-list-container > li .taxonomy-subjects-history {
  background-position: 0 -234px;
  height: 78px;
  width: 82px
}
ul.taxonomy-subjects-list-container > li .taxonomy-subjects-humanities {
  background-position: 0 -312px;
  height: 78px;
  width: 82px
}
ul.taxonomy-subjects-list-container > li .taxonomy-subjects-math {
  background-position: 0 -390px;
  height: 78px;
  width: 82px
}
ul.taxonomy-subjects-list-container > li .taxonomy-subjects-science {
  background-position: 0 -468px;
  height: 78px;
  width: 82px
}
ul.taxonomy-subjects-list-container > li .taxonomy-subjects-social {
  background-position: 0 -546px;
  height: 78px;
  width: 82px
}
ul.taxonomy-subjects-list-container > li .taxonomy-subjects-sprite, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-business, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-engineer, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-foreign, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-history, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-humanities, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-math, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-science, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-social {
  display: block;
  margin: 0
  auto 1em
}
@media (min-width:320px) and (max-width:990px) {
  ul.taxonomy-subjects-list-container > li .taxonomy-subjects-sprite, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-business, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-engineer, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-foreign, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-history, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-humanities, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-math, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-science, ul.taxonomy-subjects-list-container > li .taxonomy-subjects-social {
    display: none
  }
}
ul.taxonomy-subjects-list-container > li
img.shadow {
  margin-bottom: 0.5em
}
@media (min-width:320px) and (max-width:990px) {
  ul.taxonomy-subjects-list-container > li
  img.shadow {
    display: none
  }
}
.ch-taxonomy-list-container {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline;
  margin-top: 0.5em
}
@media (min-width:320px) and (max-width:767px) {
  .ch-taxonomy-list-container>li {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline;
    border-bottom: 1px dotted #e3e3e3;
    margin-bottom: 0.5em
  }
}
@media (min-width:768px) {
  .ch-taxonomy-list-container>li {
    width: 49.09091%;
    float: left;
    margin-right: 1.81818%;
    display: inline;
    margin-bottom: 1em
  }
  .ch-taxonomy-list-container>li:nth-child(2n) {
    float: right;
    margin-right: 0;
    #margin-left: -18px;
    display: inline
  }
}
.ch-taxonomy-list-container > li .ch-taxonomy-list-resource-summary {
  font-size: 0.91667em;
  line-height: 2.18182em
}
.ch-taxonomy-list-container > li .ch-taxonomy-list-resource-summary
a {
  color: #878787;
  border-right: 1px solid #e3e3e3;
  padding-left: 6px;
  padding-right: 8px
}
.ch-taxonomy-list-container > li .ch-taxonomy-list-resource-summary a:first-child {
  padding-left: 0
}
.ch-taxonomy-list-container > li .ch-taxonomy-list-resource-summary a:last-child {
  border: none;
  padding-right: none
}
.ch-taxonomy-list-container > li .ch-taxonomy-list-resource-summary a:hover {
  text-decoration: underline
}
