body {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: #3a3a3a
}
@media (min-width:320px) and (max-width:990px) {
  #xb-header_mobile-nav_action, #xb-header_mobile-search_action {
    font-size: 18px;
    line-height: 24px
  }
}
@media (min-width:991px) {
  #xb-header_mobile-nav_action, #xb-header_mobile-search_action {
    font-size: 21px;
    line-height: 30px
  }
}
ol, ul {
  list-style: none
}
.xb-header_primary-nav_group:after, #xb-header_secondary-nav_search:after, #xb-header_secondary-nav_search form:after {
  content: "";
  display: block;
  clear: both
}
.xb-header_primary-nav_container, .xb-header_secondary-nav_container {
  max-width: 1026px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px
}
.xb-header_primary-nav_container::after, .xb-header_secondary-nav_container::after {
  content: " ";
  display: block;
  clear: both
}
.xb-header_primary-nav_wrapper {
  background: #0aaae7;
  height: 48px;
  position: relative
}
#xb-header_logo {
  display: block;
  float: left;
  padding-top: 12px;
  padding-bottom: 12px
}
#xb-header_logo
img {
  display: block;
  width: 150px;
  height: 24px
}
@media (min-width:768px) {
  #xb-header_logo {
    padding-left: 0px;
    padding-right: 18px
  }
}
@media (min-width:320px) and (max-width:767px) {
  #xb-header_logo {
    float: none
  }
  #xb-header_logo
  img {
    margin-left: auto;
    margin-right: auto
  }
}
@media (min-width:320px) and (max-width:767px) {
  #xb-header_mobile-nav_action, #xb-header_mobile-search_action {
    position: absolute;
    top: 0px;
    display: block;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    border-color: #0998cf
  }
  #xb-header_mobile-nav_action:visited, #xb-header_mobile-search_action:visited {
    color: #fff
  }
  #xb-header_mobile-nav_action:focus, #xb-header_mobile-search_action:focus {
    color: #fff
  }
  #xb-header_mobile-nav_action:hover, #xb-header_mobile-search_action:hover {
    color: #fff
  }
  #xb-header_mobile-nav_action:active, #xb-header_mobile-search_action:active {
    color: #fff
  }
  #xb-header_mobile-nav_action.highlighted, #xb-header_mobile-search_action.highlighted {
    background: #24bcf6
  }
}
@media (min-width:768px) {
  #xb-header_mobile-nav_action, #xb-header_mobile-search_action {
    display: none
  }
}
@media (min-width:320px) and (max-width:767px) {
  #xb-header_mobile-nav_action {
    left: 0px;
    border-right-width: 1px;
    border-right-style: solid;
    padding-right: 17px
  }
}
@media (min-width:320px) and (max-width:767px) {
  #xb-header_mobile-search_action {
    right: 0px;
    border-left-width: 1px;
    border-left-style: solid;
    padding-left: 17px
  }
}
@media (min-width:320px) and (max-width:767px) {
  #xb-header_product-user-nav_container {
    position: fixed;
    background: #06476b;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 240px;
    left: -260px;
    top: 0px;
    overflow-y: scroll;
    margin-top: 48px;
    padding-bottom: 48px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    z-index: 9999
  }
  #xb-header_product-user-nav_container.show {
    left: 0px
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item
  a {
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 5px;
    border-color: #053d5d;
    color: #d8f0fd
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item a:visited {
    color: #d8f0fd
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item a:focus {
    color: #fff
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item a:hover {
    color: #ecf8fe
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item a:active {
    color: #fff
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item>a {
    color: #0aaae7;
    font-weight: 600
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item>a:visited {
    color: #0aaae7
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item>a:focus {
    color: #0aaae7
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item>a:hover {
    color: #0aaae7
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item>a:active {
    color: #0aaae7
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item>a
  i {
    display: none
  }
  #xb-header_product-user-nav_container .xb-header_primary-subnav_list-item>a {
    padding-left: 24px;
    padding-right: 12px
  }
  #xb-header_product-user-nav_container #xb-header_primary-nav_username .xb-header_primary-subnav_group {
    left: auto;
    right: 0px
  }
  #xb-header_product-user-nav_container #xb-header_primary-nav_username>a:before {
    content: 'Welcome '
  }
  #xb-header_product-user-nav_container #xb-header_primary-nav_username>a:after {
    content: '!'
  }
  #xb-header_product-user-nav_container #xb-header_primary-nav_username>a
  img {
    display: none
  }
}
@media (min-width:768px) {
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item {
    position: relative;
    float: left;
    z-index: 899
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item:hover .xb-header_primary-subnav_group {
    display: block
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item
  a {
    display: block;
    padding-left: 18px;
    padding-right: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-color: #0998cf;
    color: #fff;
    background: #0aaae7
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item a:visited {
    color: #fff
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item a:focus {
    color: #fff
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item a:hover {
    color: #fff
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item a:active {
    color: #fff
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item a:hover, #xb-header_product-user-nav_container .xb-header_primary-nav_list-item a:active, #xb-header_product-user-nav_container .xb-header_primary-nav_list-item a:focus {
    background: #16b7f5
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item>a {
    border-right-width: 1px;
    border-right-style: solid;
    padding-right: 17px
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item:first-child>a {
    border-left-width: 1px;
    border-left-style: solid;
    padding-left: 17px
  }
  #xb-header_product-user-nav_container .xb-header_primary-nav_list-item#xb-header_support-nav {
    display: none
  }
  #xb-header_product-user-nav_container .xb-header_primary-subnav_group {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 196px;
    z-index: 9999
  }
  #xb-header_product-user-nav_container .xb-header_primary-subnav_list-item>a {
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 11px
  }
  #xb-header_product-user-nav_container #xb-header_product-nav {
    float: left
  }
  #xb-header_product-user-nav_container #xb-header_user-nav {
    float: right
  }
  #xb-header_product-user-nav_container #xb-header_primary-nav_username .xb-header_primary-subnav_group {
    left: auto;
    right: 0px
  }
  #xb-header_product-user-nav_container #xb-header_primary-nav_username>a
  img {
    vertical-align: top;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: 0px;
    margin-right: 3px;
    width: 24px;
    height: 24px
  }
  #xb-header_product-user-nav_container #xb-header_primary-nav_signup>a {
    background: #2dcf6b
  }
  #xb-header_product-user-nav_container #xb-header_primary-nav_signup>a:hover, #xb-header_product-user-nav_container #xb-header_primary-nav_signup>a:active, #xb-header_product-user-nav_container #xb-header_primary-nav_signup>a:focus {
    background: #40d579
  }
}
.xb-header_primary-nav_group {
  margin-bottom: 0px
}
.xb-header_secondary-nav_wrapper {
  background: #06476b
}
@media (min-width:768px) {
  .xb-header_secondary-nav_wrapper {
    height: 54px
  }
}
@media (min-width:320px) and (max-width:767px) {
  .xb-header_secondary-nav_wrapper {
    display: none
  }
}
.xb-header_secondary-nav_container {
  position: relative
}
#xb-header_secondary-nav_search input[type=search].xb_h-search-form_input {
  width: 100%;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #088fc4;
  background: #06476b;
  color: #fff
}
#xb-header_secondary-nav_search input[type=search].xb_h-search-form_input.placeholder {
  color: #d8f0fd
}
#xb-header_secondary-nav_search input[type=search].xb_h-search-form_input:-moz-placeholder {
  color: #d8f0fd
}
#xb-header_secondary-nav_search input[type=search].xb_h-search-form_input::-moz-placeholder {
  color: #d8f0fd
}
#xb-header_secondary-nav_search input[type=search].xb_h-search-form_input:-ms-input-placeholder {
  color: #d8f0fd
}
#xb-header_secondary-nav_search input[type=search].xb_h-search-form_input::-webkit-input-placeholder {
  color: #d8f0fd
}
@media (min-width:320px) and (max-width:767px) {
  #xb-header_secondary-nav_search {
    padding-top: 12px;
    padding-bottom: 12px
  }
}
@media (min-width:768px) {
  #xb-header_secondary-nav_search {
    padding-right: 230px;
    padding-top: 6px;
    padding-bottom: 6px
  }
  #xb-header_secondary-nav_search.for-marketplace {
    padding-right: 354px
  }
}
@media (min-width:991px) {
  #xb-header_secondary-nav_search:before {
    display: block;
    content: '\f002';
    font-family: FontAwesome;
    position: absolute;
    left: -6px;
    top: 12px;
    width: 24px;
    color: #fff;
    line-height: 30px
  }
}
#xb-header_secondary-nav_group {
  position: absolute;
  display: block;
  top: 0px;
  right: 18px;
  width: 230px;
  margin-bottom: 0px
}
@media (min-width:320px) and (max-width:767px) {
  #xb-header_secondary-nav_group {
    display: none
  }
}
#xb-header_secondary-nav_group.for-marketplace {
  width: 354px
}
.xb-header_secondary-nav_list-item {
  float: right
}
.xb-header_secondary-nav_list-item
a {
  display: block;
  margin-left: 18px;
  margin-right: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 30px;
  color: #d8f0fd
}
.xb-header_secondary-nav_list-item a:visited {
  color: #d8f0fd
}
.xb-header_secondary-nav_list-item a:focus {
  color: #d8f0fd
}
.xb-header_secondary-nav_list-item a:hover {
  color: #fff
}
.xb-header_secondary-nav_list-item a:active {
  color: #fff
}
.xb-header_secondary-nav_list-item a
img {
  vertical-align: middle;
  margin-bottom: 3px
}
.xb_mobile-nav_enabled {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden
}
.xb-footer-links_container>li
h6 {
  font-size: 14px;
  line-height: 24px
}
#xb-footer:after, .xb-footer-links_container:after, .xb-copyright_container:after {
  content: "";
  display: block;
  clear: both
}
.xb-footer-links_container>li
a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}
.xb-trust-seals_container, .xb-footer-links_container, .xb-copyright_container {
  max-width: 1026px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px
}
.xb-trust-seals_container::after, .xb-footer-links_container::after, .xb-copyright_container::after {
  content: " ";
  display: block;
  clear: both
}
#xb-footer {
  clear: both;
  position: relative;
  z-index: 2;
  font-size: 14px;
  line-height: 24px
}
.xb-footer-links_wrapper {
  background: #06476b
}
.xb-footer-links_container {
  padding-top: 12px;
  padding-bottom: 30px;
  margin-bottom: 0px
}
@media (min-width:320px) and (max-width:767px) {
  .xb-footer-links_container>li {
    width: 48.14815%;
    float: left;
    margin-right: 3.7037%
  }
  .xb-footer-links_container>li:nth-child(2n) {
    float: right;
    margin-right: 0
  }
}
@media (min-width:768px) and (max-width:990px) {
  .xb-footer-links_container>li {
    width: 18.24818%;
    float: left;
    margin-right: 2.18978%
  }
  .xb-footer-links_container>li:nth-child(5n) {
    float: right;
    margin-right: 0
  }
  .xb-footer-links_container>li:last-child {
    display: none
  }
}
@media (min-width:991px) {
  .xb-footer-links_container>li {
    width: 15.15152%;
    float: left;
    margin-right: 1.81818%
  }
  .xb-footer-links_container>li:last-child {
    float: right;
    margin-right: 0
  }
}
.xb-footer-links_container>li
h6 {
  color: #fff;
  margin-top: 12px;
  margin-bottom: 6px
}
.xb-footer-links_container>li
a {
  display: block;
  color: #0aaae7
}
.xb-footer-links_container>li a:visited {
  color: #0aaae7
}
.xb-footer-links_container>li a:focus {
  color: #0aaae7
}
.xb-footer-links_container>li a:hover {
  color: #5fcef8
}
.xb-footer-links_container>li a:active {
  color: #77d5f9
}
.xb-copyright_wrapper {
  background: #0aaae7
}
.xb-copyright_container {
  padding-top: 12px;
  padding-bottom: 6px;
  color: #fff;
}
.xb-copyright_container
p {
  margin-top: 0px;
  margin-bottom: 6px
}
.xb-copyright_container p:first-child {
  margin-top: 0px
}
.xb-copyright_container
a {
  text-decoration: underline;
  color: #d8f0fd
}
.xb-copyright_container a:visited {
  color: #fff
}
.xb-copyright_container a:focus {
  color: #fff
}
.xb-copyright_container a:hover {
  color: #ecf8fe
}
.xb-copyright_container a:active {
  color: #fff
}
@media (min-width:768px) and (max-width:990px) {
  .xb-copyright_container {
    text-align: center
  }
}
@media (min-width:991px) {
  .xb-copyright_info {
    float: left
  }
}
@media (min-width:991px) {
  .xb-copyright_fyi {
    float: right
  }
}
@media (max-width:1194px) {
  #xb-social-share_container {
    display: none
  }
}
@media (min-width:320px) and (max-width:990px) {
  .xb_signup-email_button, .xb_signup-facebook_button {
    font-size: 14px;
    line-height: 24px
  }
}
@media (min-width:991px) {
  .xb_signup-email_button, .xb_signup-facebook_button {
    font-size: 16px;
    line-height: 24px
  }
}
.xb_signup_horizontal:after {
  content: "";
  display: block;
  clear: both
}
.xb_signup-email_button {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  background: #ff8500;
  -moz-box-shadow: inset 0px -3px 0px #e07400;
  -webkit-box-shadow: inset 0px -3px 0px #e07400;
  box-shadow: inset 0px -3px 0px #e07400;
  text-align: center;
  border: 0px
  solid transparent;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 10px;
  height: 42px
}
.xb_signup-email_button
i {
  line-height: 24px
}
.xb_signup-email_button:hover, .xb_signup-email_button:focus, .xb_signup-email_button:visited {
  color: #fff
}
.xb_signup-email_button:hover {
  background: #ff911a
}
.xb_signup-email_button:focus {
  background: #ff9929
}
.xb_signup-email_button:active {
  color: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f07d00
}
.disabled.xb_signup-email_button, .xb_signup-email_button:disabled {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ff8500;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: not-allowed
}
.info.xb_signup_horizontal_prompt {
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #d8f0fd;
  background: #f8fdff;
  -moz-box-shadow: 0px 1px 1px #ecf8fe;
  -webkit-box-shadow: 0px 1px 1px #ecf8fe;
  box-shadow: 0px 1px 1px #ecf8fe;
  border-width: 1px;
  border-style: solid;
  padding: 11px
}
.xb_signup_container {
  clear: both;
  display: block
}
.xb_signup_horizontal {
  margin-bottom: 12px
}
@media (min-width:320px) and (max-width:767px) {
  .xb_signup_horizontal {
    display: none
  }
}
.xb_signup-facebook_button {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  background: #3b5998;
  -moz-box-shadow: inset 0px -3px 0px #30487b;
  -webkit-box-shadow: inset 0px -3px 0px #30487b;
  box-shadow: inset 0px -3px 0px #30487b;
  text-align: center;
  border: 0px
  solid transparent;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 10px;
  height: 42px
}
.xb_signup-facebook_button
i {
  line-height: 24px
}
.xb_signup-facebook_button:hover, .xb_signup-facebook_button:focus, .xb_signup-facebook_button:visited {
  color: #fff
}
.xb_signup-facebook_button:hover {
  background: #4264aa
}
.xb_signup-facebook_button:focus {
  background: #466ab5
}
.xb_signup-facebook_button:active {
  color: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #37538d
}
@media (min-width:320px) and (max-width:767px) {
  .xb_signup-facebook_button {
    display: block;
    margin-bottom: 12px
  }
}
@media (min-width:768px) and (max-width:990px) {
  .xb_signup-facebook_button {
    float: left;
    width: 16.66667%
  }
  .xb_signup-facebook_button
  span {
    display: none
  }
}
@media (min-width:991px) {
  .xb_signup-facebook_button {
    float: left;
    width: 25%
  }
}
@media (min-width:320px) and (max-width:767px) {
  .xb_signup_v-separator {
    display: block;
    margin-bottom: 12px;
    text-align: center
  }
}
@media (min-width:768px) {
  .xb_signup_v-separator {
    float: left;
    width: 4.16667%;
    line-height: 42px;
    text-align: center
  }
}
@media (min-width:768px) and (max-width:990px) {
  .xb_signup_form {
    float: right;
    width: 79.16667%
  }
}
@media (min-width:991px) {
  .xb_signup_form {
    float: right;
    width: 70.83333%
  }
}
@media (min-width:320px) and (max-width:767px) {
  .xb_signup-email_input, .xb_signup-password_input, .xb_signup-email_button {
    width: 100%;
    display: block;
    margin-bottom: 12px
  }
}
@media (min-width:768px) {
  .xb_signup-email_input, .xb_signup-password_input, .xb_signup-email_button {
    width: 31.70732%;
    float: left;
    margin-right: 2.43902%
  }
}
.xb_signup-email_button {
  display: block
}
@media (min-width:320px) and (max-width:767px) {
  .xb_signup-email_button {
    margin-bottom: 0px
  }
}
@media (min-width:768px) {
  .xb_signup-email_button {
    float: right;
    margin-right: 0
  }
}
@media (min-width:320px) and (max-width:990px) {
  .mfp-arrow {
    font-size: 21px;
    line-height: 30px
  }
}
@media (min-width:991px) {
  .mfp-arrow {
    font-size: 24px;
    line-height: 30px
  }
}
.homepage_banner_ch_signup_container
.xb_signup_horizontal {
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1)
}
@media (min-width:320px) and (max-width:767px) {
  .homepage_banner_ch_signup_container
  .xb_signup_horizontal {
    display: none
  }
}
.homepage_in-page_nav_wrapper {
  background: #088fc4;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%
}
@media (min-width:320px) and (max-width:990px) {
  .homepage_in-page_nav_wrapper {
    display: none
  }
}
@media (min-width:320px) and (max-width:767px) {
  .homepage_main_heading {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px
  }
}
@media (min-width:768px) and (max-width:990px) {
  .homepage_main_heading {
    font-size: 36px;
    line-height: 42px
  }
}
@media (min-width:991px) {
  .homepage_main_heading {
    font-size: 28px;
    line-height: 42px
  }
}
@media (min-width:768px) {
  .homepage_main_heading {
    letter-spacing: -2px
  }
}
@media (min-width:320px) and (max-width:990px) {
  .homepage_main_highlight {
    font-size: 14px;
    line-height: 24px
  }
}
@media (min-width:991px) {
  .homepage_main_highlight {
    font-size: 16px;
    line-height: 24px
  }
}
.homepage_banner-container:after {
  content: "";
  display: block;
  clear: both
}
.homepage_banner-container {
  max-width: 1026px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px
}
.homepage_banner-container::after {
  content: " ";
  display: block;
  clear: both
}
.homepage_main_content {
  padding-left: 12px;
  padding-right: 0px
}
.homepage_main_content>li {
  margin-left: 12px;
  margin-right: 0px
}
.homepage_main_content {
  list-style: disc
}
@-webkit-keyframes
fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1
  }
}
@-moz-keyframes
fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1
  }
}
@-o-keyframes
fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1
  }
}
@keyframes
fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1
  }
}
@-webkit-keyframes
openLaptopTablet {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1);
    -moz-transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1);
    -o-transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1)
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -o-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }
}
@-moz-keyframes
openLaptopTablet {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1);
    -moz-transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1);
    -o-transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1)
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -o-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }
}
@-o-keyframes
openLaptopTablet {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1);
    -moz-transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1);
    -o-transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1)
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -o-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }
}
@keyframes
openLaptopTablet {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1);
    -moz-transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1);
    -o-transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 0.46753, -0.88398, 0, 0, 0.88398, 0.46753, 0, 0, 0, 0, 1)
  }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -ms-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -o-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
  }
}
@-webkit-keyframes
openLaptop {
  0% {
    -webkit-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1);
    -moz-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1);
    -ms-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1);
    -o-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1);
    transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1)
  }
  100% {
    -webkit-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
    -moz-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
    -ms-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
    -o-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
    transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1)
  }
}
@-moz-keyframes
openLaptop {
  0% {
    -webkit-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1);
    -moz-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1);
    -ms-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1);
    -o-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1);
    transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1)
  }
  100% {
    -webkit-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
    -moz-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
    -ms-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
    -o-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
    transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1)
  }
}
@-o-keyframes
openLaptop {
  0% {
    -webkit-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1);
    -moz-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1);
    -ms-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1);
    -o-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1);
    transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1)
  }
  100% {
    -webkit-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
    -moz-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
    -ms-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
    -o-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
    transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1)
  }
}
@keyframes
openLaptop {
  0% {
    -webkit-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1);
    -moz-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1);
    -ms-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1);
    -o-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1);
    transform: matrix3d(0.98847, -0.15145, 0, 0, 0.05719, 0.37329, -0.92595, 0, 0.14023, 0.91527, 0.37764, 0, 6.41847, -0.27278, 0, 1)
  }
  100% {
    -webkit-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
    -moz-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
    -ms-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
    -o-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
    transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1)
  }
}
.homepage_banner-wrapper {
  position: relative;
  background-color: #ecf8fe;
  background-image: url("../img/Icon_banner.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-attachment: fixed;
  padding-top: 24px;
  padding-bottom: 24px
}
@media (min-width:320px) and (max-width:990px) {
  .homepage_banner-wrapper {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 29px;
    border-color: #d8f0fd
  }
}
@media (min-width:991px) {
  .homepage_banner-wrapper {
    padding-bottom: 96px
  }
}
.homepage_banner_graphics-version {
  position: relative
}
@media (min-width:768px) {
  .homepage_banner_graphics-version {
    margin-bottom: 24px
  }
}
@media (min-width:768px) and (max-width:990px) {
  .homepage_banner_graphics-version {
    padding-left: 372px;
    min-height: 258px
  }
}
@media (min-width:991px) {
  .homepage_banner_graphics-version {
    padding-left: 486px;
    min-height: 312px
  }
}
@media (min-width:320px) and (max-width:767px) {
  .homepage_banner_graphics-version
  .homepage_main {
    clear: both;
    width: 100%;
    float: left
  }
}
@media (min-width:768px) {
  .homepage_banner_graphics-version
  .homepage_main {
    padding-left: 18px;
    padding-right: 0px;
    margin-left: 18px;
    margin-right: 0px;
    float: right
  }
}
@media (min-width:320px) and (max-width:767px) {
  .homepage_banner_graphics-version
  .homepage_sidebar {
    clear: both;
    width: 100%;
    float: left;
    margin-bottom: 12px
  }
}
@media (min-width:768px) {
  .homepage_banner_graphics-version
  .homepage_sidebar {
    position: absolute;
    top: 0;
    left: 0
  }
}
@media (min-width:768px) and (max-width:990px) {
  .homepage_banner_graphics-version
  .homepage_sidebar {
    width: 372px;
    height: 258px
  }
}
@media (min-width:991px) {
  .homepage_banner_graphics-version
  .homepage_sidebar {
    width: 486px;
    height: 312px
  }
}
.homepage_banner_ch_signup_container .xb_signup_horizontal {
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #d8f0fd;
  background: #fff;
  -moz-box-shadow: 0px 1px 1px #ecf8fe;
  -webkit-box-shadow: 0px 1px 1px #ecf8fe;
  box-shadow: 0px 1px 1px #ecf8fe;
  border-width: 1px;
  border-style: solid;
  padding: 11px;
}
@media (min-width:320px) and (max-width:767px) {
  .homepage_main_heading {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 12px
  }
}
@media (min-width:768px) and (max-width:990px) {
  .homepage_main_heading {
    margin-top: 0px;
    margin-bottom: 18px
  }
}
@media (min-width:991px) {
  .homepage_main_heading {
    margin-bottom: 30px;
    margin-top: 24px
  }
}
.homepage_main_content>li {
  margin-bottom: 6px
}
@media (min-width:320px) and (max-width:767px) {
  .homepage_main_content {
    margin-bottom: 12px
  }
}
@media (min-width:768px) and (max-width:990px) {
  .homepage_main_content {
    margin-bottom: 0px
  }
}
@media (min-width:991px) {
  .homepage_main_content {
    margin-bottom: 30px
  }
}
.homepage_main_highlight {
  font-weight: 600;
  margin-bottom: 24px
}
.homepage_main_highlight
i {
  color: #2dcf6b;
  margin-left: 0px;
  margin-right: 6px
}
@media (min-width:320px) and (max-width:990px) {
  .homepage_main_highlight {
    display: none
  }
}
#homepage_sidebar_graphics_for-mobile, #homepage_sidebar_graphics_for-tablet, #homepage_sidebar_graphics_for-desktop {
  position: relative
}
#homepage_sidebar_graphics_for-mobile {
  width: 280px;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px
}
@media (min-width:768px) {
  #homepage_sidebar_graphics_for-mobile {
    display: none
  }
}
#homepage_sidebar_graphics_for-tablet {
  background: rgba(255, 255, 255, 0.6);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  height: 258px;
  width: 100%
}
@media (min-width:320px) and (max-width:767px) {
  #homepage_sidebar_graphics_for-tablet {
    display: none
  }
}
@media (min-width:991px) {
  #homepage_sidebar_graphics_for-tablet {
    display: none
  }
}
#homepage_sidebar_graphics_for-desktop {
  background: rgba(255, 255, 255, 0.6);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  height: 312px;
  width: 100%
}
@media (min-width:320px) and (max-width:990px) {
  #homepage_sidebar_graphics_for-desktop {
    display: none
  }
}
#homepage_graphics_desk-bg_mobile {
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  width: 280px
}
#homepage_graphics_desk-bg_highlight_mobile {
  position: absolute;
  top: 8px;
  left: 13px;
  height: 69px;
  width: 174px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  -ms-animation-duration: 0.75s;
  -o-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s
}
#homepage_graphics_desk-bg_tablet {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 258px;
  width: 372px
}
#homepage_graphics_laptop-screen_tablet, #homepage_graphics_laptop-screen_highlight_tablet {
  position: absolute;
  left: 69px;
  top: 17px;
  width: 205px;
  height: 76px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 99px 76px 0px;
  -moz-transform-origin: 99px 76px 0px;
  -ms-transform-origin: 99px 76px 0px;
  -o-transform-origin: 99px 76px 0px;
  transform-origin: 99px 76px 0px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -ms-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -o-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
}
#homepage_graphics_laptop-screen_tablet {
  -webkit-animation-name: openLaptopTablet;
  -moz-animation-name: openLaptopTablet;
  -ms-animation-name: openLaptopTablet;
  -o-animation-name: openLaptopTablet;
  animation-name: openLaptopTablet;
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  -ms-animation-duration: 0.75s;
  -o-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}
#homepage_graphics_laptop-screen_highlight_tablet {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s
}
#homepage_graphics_mobile-screen_highlight_tablet {
  position: absolute;
  top: 136px;
  left: 18px;
  height: 75px;
  width: 45px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s
}
#homepage_graphics_laptop-screen_desktop, #homepage_graphics_laptop-screen_highlight_desktop {
  position: absolute;
  left: 47px;
  top: 30px;
  width: 224px;
  height: 84px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 110.58153px 84.27278px 0px;
  -moz-transform-origin: 110.58153px 84.27278px 0px;
  -ms-transform-origin: 110.58153px 84.27278px 0px;
  -o-transform-origin: 110.58153px 84.27278px 0px;
  transform-origin: 110.58153px 84.27278px 0px;
  -webkit-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
  -moz-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
  -ms-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
  -o-transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1);
  transform: matrix3d(0.98847, -0.15145, 0, 0, 0.15145, 0.98847, 0, 0, 0, 0, 1, 0, 6.41847, -0.27278, 0, 1)
}
#homepage_graphics_laptop-screen_desktop {
  -webkit-animation-name: openLaptop;
  -moz-animation-name: openLaptop;
  -ms-animation-name: openLaptop;
  -o-animation-name: openLaptop;
  animation-name: openLaptop;
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  -ms-animation-duration: 0.75s;
  -o-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}
#homepage_graphics_laptop-screen_highlight_desktop {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s
}
#homepage_graphics_mobile-screen_highlight_desktop {
  position: absolute;
  top: 187px;
  left: 16px;
  width: 59px;
  height: 82px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s
}
#homepage_graphics_desk-bg_desktop_ie {
  display: none
}
.ie #homepage_graphics_desk-bg_desktop, .ie #homepage_graphics_laptop-screen_desktop, .ie #homepage_graphics_laptop-screen_highlight_desktop, .ie #homepage_graphics_mobile-screen_highlight_desktop {
  display: none
}
.ie #homepage_graphics_desk-bg_desktop_ie {
  display: block
}
a:hover, a:focus {
  text-decoration: none;
}
.twitter-typeahead {
  width: 100%
}
input[type=submit].xb_h-search-form-submit_button {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  background: #0aaae7;
  -moz-box-shadow: inset 0px -3px 0px #088fc4;
  -webkit-box-shadow: inset 0px -3px 0px #088fc4;
  box-shadow: inset 0px -3px 0px #088fc4;
  text-align: center;
  border: 0px
  solid transparent;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 10px;
  height: 42px
}
.xb_h-search-form_container {
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #e3e3e3;
  background: #fcfcfc;
  -moz-box-shadow: 0px 1px 1px #f3f3f3;
  -webkit-box-shadow: 0px 1px 1px #f3f3f3;
  box-shadow: 0px 1px 1px #f3f3f3;
  border-width: 1px;
  border-style: solid;
  padding: 11px
}
.xb_h-search-form_input_container {
  float: left
}
@media (min-width:320px) and (max-width:767px) {
  .xb_h-search-form_input_container {
    width: 75%
  }
}
@media (min-width:768px) and (max-width:990px) {
  .xb_h-search-form_input_container {
    width: 83.33333%
  }
}
@media (min-width:991px) {
  .xb_h-search-form_input_container {
    width: 87.5%
  }
}
.xb_h-search-form_input {
  width: 100%
}
input[type=search].xb_h-search-form_input {
  border-right: none;
  width: 100%;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px
}
input[type=submit].xb_h-search-form-submit_button {
  float: left;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0
}
@media (min-width:320px) and (max-width:767px) {
  input[type=submit].xb_h-search-form-submit_button {
    width: 25%
  }
}
@media (min-width:768px) and (max-width:990px) {
  input[type=submit].xb_h-search-form-submit_button {
    width: 16.66667%
  }
}
@media (min-width:991px) {
  input[type=submit].xb_h-search-form-submit_button {
    width: 12.5%
  }
}
.txt-orange {
  color: #ff700b
}
.light-blue-bg, .xb-vlight-blue-bg {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF7FCFE', endColorstr='#FFE6F6FD');
  background: -moz-linear-gradient(top, #f7fcfe 0%, #e6f6fd 100%);
  background: -webkit-linear-gradient(top, #f7fcfe 0%, #e6f6fd 100%);
  background: linear-gradient(to bottom, #f7fcfe 0%, #e6f6fd 100%);
  background-image: -ms-linear-gradient(top, #f7fcfe 0%, #e6f6fd 100%);
  background-image: linear-gradient(to bottom, #f7fcfe 0%, #e6f6fd 100%)
}
*[class*="-btn"].xl {
  font-size: 3.5em;
  line-height: 1.25em
}
*[class*="-btn"].l {
  font-size: 2.5em;
  line-height: 1.42857em
}
*[class*="-btn"].m {
  font-size: 1.5em;
  line-height: 1.33333em
}
*[class*="-btn"].s {
  font-size: 1.33333em;
  line-height: 1.5em
}
*[class*="-btn"].xs {
  font-size: 1.16667em;
  line-height: 1.28571em
}
.breadcrumbs {
  color: #bababa;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1em;
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -18px;
  display: inline
}
.orange-btn {
  font-size: 28px;
  padding: 0em 0em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF9D58', endColorstr='#FFFF700B');
  background: -moz-linear-gradient(#ff9d58, #ff700b 70%);
  background: -webkit-linear-gradient(#ff9d58, #ff700b 70%);
  background: linear-gradient(#ff9d58, #ff700b 70%);
  -moz-box-shadow: #ffcaa4 0 1px 0 inset;
  -webkit-box-shadow: #ffcaa4 0 1px 0 inset;
  box-shadow: #ffcaa4 0 1px 0 inset;
  border: 1px solid #f16400;
  color: white;
  text-shadow: #ff6c03 0 -1px 0;
  margin-top: 0em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-bottom: 0em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  font-weight: 600;
  text-align: center;
}
.orange-btn:hover {
  text-decoration: none;
  color: white;
}
.orange-btn:visited {
  text-decoration: none;
  color: white;
}
.orange-btn:hover {
  background-color: #f16400;
  background: -moz-linear-gradient(#ff8e3e 3%, #f16400 75%);
  background: -webkit-linear-gradient(#ff8e3e 3%, #f16400 75%);
  background: linear-gradient(#ff8e3e 3%, #f16400 75%);
}
.orange-btn:active {
  -moz-box-shadow: #e15d00 0 1px 2px inset;
  -webkit-box-shadow: #e15d00 0 1px 2px inset;
  box-shadow: #e15d00 0 1px 2px inset;
}
.orange-btn.disabled, .orange-btn[disabled] {
  opacity: 0.3;
  background: #ff700b;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.orange-btn::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
.blue-btn {
  font-size: 21px;
  padding: 0em 0em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF46C6F7', endColorstr='#FF0AAAE7');
  background: -moz-linear-gradient(#46c6f7, #0aaae7 70%);
  background: -webkit-linear-gradient(#46c6f7, #0aaae7 70%);
  background: linear-gradient(#46c6f7, #0aaae7 70%);
  -moz-box-shadow: #90ddfa 0 1px 0 inset;
  -webkit-box-shadow: #90ddfa 0 1px 0 inset;
  box-shadow: #90ddfa 0 1px 0 inset;
  border: 1px solid #0998cf;
  color: white;
  text-shadow: #0aa5e0 0 -1px 0;
  margin-top: 0em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-bottom: 0em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 600;
  font-size: 2em;
  line-height: 1.25em;
  text-align: center;
}
.blue-btn:hover {
  text-decoration: none;
  color: white;
}
.blue-btn:visited {
  text-decoration: none;
  color: white;
}
.blue-btn:hover {
  background-color: #0998cf;
  background: -moz-linear-gradient(#2ebff6 3%, #0998cf 75%);
  background: -webkit-linear-gradient(#2ebff6 3%, #0998cf 75%);
  background: linear-gradient(#2ebff6 3%, #0998cf 75%);
}
.blue-btn:active {
  -moz-box-shadow: #088dc0 0 1px 2px inset;
  -webkit-box-shadow: #088dc0 0 1px 2px inset;
  box-shadow: #088dc0 0 1px 2px inset;
}
.blue-btn.disabled, .blue-btn[disabled] {
  opacity: 0.3;
  background: #0aaae7;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.blue-btn::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
.light-blue-btn {
  font-size: 21px;
  padding: 0em 0em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF3FBFE');
  background: -moz-linear-gradient(#f3fbfe, #e0f5fc 70%);
  background: -webkit-linear-gradient(#f3fbfe, #e0f5fc 70%);
  background: linear-gradient(#f3fbfe, #e0f5fc 70%);
  -moz-box-shadow: white 0 1px 0 inset;
  -webkit-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #c9edfa;
  color: #3a3a3a;
  text-shadow: white 0 1px 0;
  margin-top: 0em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-bottom: 0em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 600;
  font-size: 2em;
  line-height: 1.25em;
  text-align: center;
}
.light-blue-btn:hover {
  text-decoration: none;
  color: #3a3a3a;
}
.light-blue-btn:visited {
  text-decoration: none;
  color: #3a3a3a;
}
.light-blue-btn:hover {
  background-color: #c9edfa;
  background: -moz-linear-gradient(#dcf3fc 3%, #c9edfa 75%);
  background: -webkit-linear-gradient(#dcf3fc 3%, #c9edfa 75%);
  background: linear-gradient(#dcf3fc 3%, #c9edfa 75%);
}
.light-blue-btn:active {
  -moz-box-shadow: #bbe8f9 0 1px 2px inset;
  -webkit-box-shadow: #bbe8f9 0 1px 2px inset;
  box-shadow: #bbe8f9 0 1px 2px inset;
}
.light-blue-btn.disabled, .light-blue-btn[disabled] {
  opacity: 0.3;
  background: #e0f5fc;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.light-blue-btn::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
.txt-lightgrey {
  color: #6d6d6d;
}

.xb-banner {
  clear: both;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #bbe8f9
}

p.intro-page-heading-caption {
  color: #3a3a3a;
  font-size: 1.5em;
  line-height: 1.33333em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0.5em;
  margin-bottom: 0em;
  text-align: center
}
.light-grey-btn {
  font-size: 21px;
  padding: 0em
  0em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFFCFCFC');
  background: -moz-linear-gradient(#fcfcfc, #e3e3e3 70%);
  background: -webkit-linear-gradient(#fcfcfc, #e3e3e3 70%);
  background: linear-gradient(#fcfcfc, #e3e3e3 70%);
  -moz-box-shadow: white 0 1px 0 inset;
  -webkit-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px
  solid #d6d6d6;
  color: #3a3a3a;
  text-shadow: #fefefe 0 1px 0;
  margin-top: 0em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-bottom: 0em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 600;
  font-size: 2em;
  line-height: 1.25em;
  text-align: center
}
.light-grey-btn:hover {
  text-decoration: none;
  color: #3a3a3a
}
.light-grey-btn:visited {
  text-decoration: none;
  color: #3a3a3a
}
.light-grey-btn:hover {
  background-color: #d6d6d6;
  background: -moz-linear-gradient(#f0f0f0 3%, #d6d6d6 75%);
  background: -webkit-linear-gradient(#f0f0f0 3%, #d6d6d6 75%);
  background: linear-gradient(#f0f0f0 3%, #d6d6d6 75%)
}
.light-grey-btn:active {
  -moz-box-shadow: #cfcfcf 0 1px 2px inset;
  -webkit-box-shadow: #cfcfcf 0 1px 2px inset;
  box-shadow: #cfcfcf 0 1px 2px inset
}
.light-grey-btn.disabled, .light-grey-btn[disabled] {
  opacity: 0.3;
  background: #e3e3e3;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none
}
.light-grey-btn::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important
}

.txt-green {
  color: #2bc767
}
.very-light-grey-bg {
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF3F3F3');
background: -moz-linear-gradient(top, #fff 0%, #f3f3f3 100%);
background: -webkit-linear-gradient(top, #fff 0%, #f3f3f3 100%);
background: linear-gradient(to bottom, #fff 0%, #f3f3f3 100%);
background-image: -ms-linear-gradient(top, white 0%, #f3f3f3 100%);
background-image: linear-gradient(to bottom, #fff 0%, #f3f3f3 100%);
}
