@charset "UTF-8";
/* ================================================================================================================== */
/* Grid Settings */
/* ================================================================================================================== */
/* Fonts */
/* ================================================================================================================== */
/* Colors */
/* ================================================================================================================== */
/* Text Colors */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* ================================================================================================================== */
/* HTML Tags */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 75%; line-height: 0.5em; }

body { font-family: "Open Sans", sans-serif; font-weight: 400; font-size: 1em; line-height: 1.5em; color: #3a3a3a; }
body a { color: #0aaae7; text-decoration: none; }
body h1, body h2, body h3, body h4, body h5, body h6 { font-weight: 600; }
body h6 { font-size: 1.16667em; line-height: 1.28571em; }

.container, .ch-container { *zoom: 1; max-width: 1026px; padding-left: 18px; padding-right: 18px; margin-left: auto; margin-right: auto; }


.intro-page-heading { color: #0aaae7; font-size: 2.66667em; line-height: 1.125em; margin-top: 0em; padding-top: 0em; padding-bottom: 0.5em; margin-bottom: 0em; text-align: center; }

/* Buttons */
/* ================================================================================================================== */
/* Grid Settings */
/* ================================================================================================================== */
/* Fonts */
/* ================================================================================================================== */
/* Colors */
/* ================================================================================================================== */
/* Text Colors */
/* ================================================================================================================== */
/* Buttons */
div.coa-wrapper { width: 100%; float: right; margin-right: 0; #margin-left: -18px; display: inline; clear: both; text-align: center; }

.orange-btn { font-size: 21px; padding: 0em 0em; display: inline-block; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF9D58', endColorstr='#FFFF700B'); background: -moz-linear-gradient(#ff9d58, #ff700b 70%); background: -webkit-linear-gradient(#ff9d58, #ff700b 70%); background: linear-gradient(#ff9d58, #ff700b 70%); -moz-box-shadow: #ffcaa4 0 1px 0 inset; -webkit-box-shadow: #ffcaa4 0 1px 0 inset; box-shadow: #ffcaa4 0 1px 0 inset; border: 1px solid #f16400; color: white; text-shadow: #ff6c03 0 -1px 0; margin-top: 0em; padding-top: 0.3em; padding-bottom: 0.3em; margin-bottom: 0em; padding-left: 1em; padding-right: 1em; font-weight: 600; text-align: center; }
.orange-btn:hover { text-decoration: none; color: white; }
.orange-btn:visited { text-decoration: none; color: white; }
.orange-btn:hover { background-color: #f16400; background: -moz-linear-gradient(#ff8e3e 3%, #f16400 75%); background: -webkit-linear-gradient(#ff8e3e 3%, #f16400 75%); background: linear-gradient(#ff8e3e 3%, #f16400 75%); }
.orange-btn:active { -moz-box-shadow: #e15d00 0 1px 2px inset; -webkit-box-shadow: #e15d00 0 1px 2px inset; box-shadow: #e15d00 0 1px 2px inset; }
.orange-btn.disabled, .orange-btn[disabled] { opacity: 0.3; background: #ff700b; cursor: default; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.orange-btn::-moz-focus-inner { padding: 0 !important; margin: -1px !important; }

.blue-btn { font-size: 21px; padding: 0em 0em; display: inline-block; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF46C6F7', endColorstr='#FF0AAAE7'); background: -moz-linear-gradient(#46c6f7, #0aaae7 70%); background: -webkit-linear-gradient(#46c6f7, #0aaae7 70%); background: linear-gradient(#46c6f7, #0aaae7 70%); -moz-box-shadow: #90ddfa 0 1px 0 inset; -webkit-box-shadow: #90ddfa 0 1px 0 inset; box-shadow: #90ddfa 0 1px 0 inset; border: 1px solid #0998cf; color: white; text-shadow: #0aa5e0 0 -1px 0; margin-top: 0em; padding-top: 0.3em; padding-bottom: 0.3em; margin-bottom: 0em; padding-left: 1em; padding-right: 1em; font-weight: 600; font-size: 2em; line-height: 1.25em; text-align: center; }
.blue-btn:hover { text-decoration: none; color: white; }
.blue-btn:visited { text-decoration: none; color: white; }
.blue-btn:hover { background-color: #0998cf; background: -moz-linear-gradient(#2ebff6 3%, #0998cf 75%); background: -webkit-linear-gradient(#2ebff6 3%, #0998cf 75%); background: linear-gradient(#2ebff6 3%, #0998cf 75%); }
.blue-btn:active { -moz-box-shadow: #088dc0 0 1px 2px inset; -webkit-box-shadow: #088dc0 0 1px 2px inset; box-shadow: #088dc0 0 1px 2px inset; }
.blue-btn.disabled, .blue-btn[disabled] { opacity: 0.3; background: #0aaae7; cursor: default; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.blue-btn::-moz-focus-inner { padding: 0 !important; margin: -1px !important; }

.light-blue-btn { font-size: 21px; padding: 0em 0em; display: inline-block; cursor: pointer; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF3FBFE'); background: -moz-linear-gradient(#f3fbfe, #e0f5fc 70%); background: -webkit-linear-gradient(#f3fbfe, #e0f5fc 70%); background: linear-gradient(#f3fbfe, #e0f5fc 70%); -moz-box-shadow: white 0 1px 0 inset; -webkit-box-shadow: white 0 1px 0 inset; box-shadow: white 0 1px 0 inset; border: 1px solid #c9edfa; color: #3a3a3a; text-shadow: white 0 1px 0; margin-top: 0em; padding-top: 0.3em; padding-bottom: 0.3em; margin-bottom: 0em; padding-left: 1em; padding-right: 1em; font-weight: 600; font-size: 2em; line-height: 1.25em; text-align: center; }
.light-blue-btn:hover { text-decoration: none; color: #3a3a3a; }
.light-blue-btn:visited { text-decoration: none; color: #3a3a3a; }
.light-blue-btn:hover { background-color: #c9edfa; background: -moz-linear-gradient(#dcf3fc 3%, #c9edfa 75%); background: -webkit-linear-gradient(#dcf3fc 3%, #c9edfa 75%); background: linear-gradient(#dcf3fc 3%, #c9edfa 75%); }
.light-blue-btn:active { -moz-box-shadow: #bbe8f9 0 1px 2px inset; -webkit-box-shadow: #bbe8f9 0 1px 2px inset; box-shadow: #bbe8f9 0 1px 2px inset; }
.light-blue-btn.disabled, .light-blue-btn[disabled] { opacity: 0.3; background: #e0f5fc; cursor: default; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.light-blue-btn::-moz-focus-inner { padding: 0 !important; margin: -1px !important; }


*[class*="-btn"].xl { font-size: 2em; line-height: 1.25em; }

*[class*="-btn"].l { font-size: 1.75em; line-height: 1.42857em; }

*[class*="-btn"].m { font-size: 1.5em; line-height: 1.33333em; }

*[class*="-btn"].s { font-size: 1.33333em; line-height: 1.5em; }

*[class*="-btn"].xs { font-size: 1.16667em; line-height: 1.28571em; }


#upload-documents-upload-form-container { width: 100%; float: right; margin-right: 0; #margin-left: -18px; /* display: inline; */ }
#upload-documents-upload-form-container h2 i { font-size: 1.5em; }


.upload-documents-add-course-box { position: relative; width: 100%; float: right; margin-right: 0; #margin-left: -18px; display: inline; margin-top: 1.5em; padding-top: 0em; padding-bottom: 0em; margin-bottom: 1em; color: #a0a0a0; }
.upload-documents-single-course-box { position: relative; width: 100%; float: right; margin-right: 0; #margin-left: -18px; display: inline; margin-top: 1.5em; padding-top: 0em; padding-bottom: 0em; margin-bottom: 0.5em; border: 1px solid #bbe8f9; }


.manage-course-box-header { width: 100%; float: right; margin-right: 0; #margin-left: -18px; display: inline; margin-top: 0em; padding-top: 1em; padding-bottom: 1em; margin-bottom: 0em; padding-left: 1.5em; padding-right: 1.5em; border-bottom: 1px solid #bbe8f9; border-left: 50px solid #bbe8f9; cursor: pointer; background: #eff9fe; }
.manage-course-box-header h5 { float: left; margin-left: -50px; }
.manage-course-box-header h5 > a { margin-left: .5em; padding-left: .5em; border-left: 1px solid #e3e3e3; }
.manage-course-box-header i.icon-plus-circle, .manage-course-box-header i.icon-minus-circle { margin-right: 30px; }
.manage-course-box-header i.icon-plus-circle { display: none; }





@media (min-width: 991px) { .drag-n-drop-container { display: block; clear: both; margin-top: 1em; padding-top: 11em; padding-bottom: 0em; margin-bottom: 1em; height: 342px; margin-left: 1em; margin-right: 1em; border: 2px dashed #e3e3e3; background: #fcfcfc; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color: #a0a0a0; text-align: center; }
  .drag-n-drop-container *[class*="-btn"] { margin-bottom: 0.5em; margin-left: 0.5em; margin-right: 0.5em; }
  .drag-n-drop-container span { font-size: 1.5em; line-height: 1.33333em; } }



@media (min-width: 768px) { .upload-box-upload-files-button { float: right; margin-left: 1em; } }

.upload-from-computer-btn input[type=file] { position: absolute; top: 0px; left: 0px; cursor: pointer !important; height: 100%; width: 100%; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

